.About {
  min-height: 83.3vh;
  background-color: #FAF4F4;
  padding-bottom: 12em;
}

.about-title {
  height: 20%;
  font-size: 3em;
  font-weight: bold;
  color: #724330;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.about-body {
  min-height: 83.3vh;
  max-height: 183.3vh;
  width: 100%;
  display: flex;
  margin: auto;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.about-section {
  background-color: #BA6B57;
  width: 75%;
  padding: 40px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  text-align: justify;
  color: white;
}

.about-section-title {
  font-size: 1.5em;
  border-bottom: 2px solid white;
  margin-bottom: 1em
}